*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

.main-nav{
    display: inline;

}

#search{
    float: right;
    margin-top: 10px;
    padding-left: 3px;
    border-radius: 15px;
}

nav{
    background-color: crimson;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
}

nav ul{
    padding: 10px 10px;
    list-style: none;
    width: 100%;
    margin: auto;
}

nav li{
    display: inline;
    padding: 10px;
    border: 1px solid black;    
}

nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}